{% extends "model_page.html" %}

{% block content %}
    <h1>Event</h1>

    <form action="events/submit" method="POST">  {% csrf_token %}
        <label>Title</label>
        <input type="text" name="title">
        <br>
        <label>Event date</label>
        <input type="datetime-local" name="event_date">
        <br>
        <label>Description</label>
        <br>
        <textarea name="description"></textarea>
        <br><br>
        <button type="submit">Save</button>
        <a href="/">
            <button type="button">Cancel</button>
        </a>
    </form>

    <br><br>
{% endblock %}