<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agenda</title>
</head>
<body>
<form action="submit" method="POST"> {% csrf_token %}
    <h1>Login</h1>
    <div align="center">
        <label>User</label>
        <input type="text" name="username">
        <label>Password</label>
        <input type="password" name="password">
        <button type="submit">Enter</button>
    </div>
</form>

{% for message in messages %}
    <div align="center">
        <strong>Error</strong> {{ message }}
    </div>
{% endfor %}
</body>
</html>